<% layout('layouts/boilerplate') %>
    <section>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">type</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( const room of rooms ) { %>
                        <tr>
                            <td>
                                <%= room.roomId %>
                            </td>

                            <td>
                                <%= room.type %>
                            </td>

                            <% if (availables.find(r=> r.roomId === room.roomId)) { %>
                                <td class="table-success">Available</td>
                                <%} else { %>
                                    <td class="table-warning">Pending</td>
                                    <% } %>
                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>
        <a href="/room/new" class="btn btn-dark" role="button">Add room</a>
    </section>