<% layout('layouts/boilerplate') %>
    <div class="card mx-auto mt-5" style="max-width: 500px;">
        <div class="card-header bg-dark text-white">
            Login
        </div>
        <div class="card-body">
            <form action="/user/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" autofocus required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark" type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>