<% layout('layouts/boilerplate') %>
<h1 class="display-6 text-center">Register a new User</h1>
<div class="card mx-auto mt-5" style="max-width: 500px;">
    <div class="card-header bg-dark text-white">
        Rigester
    </div>
    <div class="card-body">
        <form action="/user/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="type">Role</label>
                <select class="form-control" type="text" id="role" name="role" required>
                    <option value="" selected disabled>--Please select room type--</option>
                    <option value="USER">User</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-dark" type="submit">Register</button>
            </div>
        </form>
        <a href="/user" class="btn btn-dark" role="button">Users</a>
    </div>
</div>